
.body{
    margin: 0;
}

.logo{
    background-color: gray;
    height: 80px;
}
.nav{
    background-color: gray;
    height: 65px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
.header{
    background-color: gray;
    height: 120px;
    text-align: center;
    margin-bottom: 10px;
}
.container{
    overflow: hidden;
    margin-bottom: 10px;
}
.side-bar{
    background-color: gray;
    height: 350px;
    width: 30%;
    float: left;
}
.body{
    background-color: gray;
    height: 350px;
    width: 67%;
    float: right;
}
.footer{
    background-color: gray;
    height: 100px;
    text-align: center;
}